@import 'app';
// Place any CSS rules you want to apply only on IOS here
.backgroundGrey .header {
    height: 150;
    padding: 0 20;
    z-index: 999
}
.icon-bar {
    font-size: 25
}
.btn-nophoso {
    padding: 20
}
.tracuuinputTthc {
	padding: 12 40
}